.container {
  display: flex;
  min-height: 90vh;
  margin-block: 50px;
  text-align: center;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left-container h1 {
  color: #E3E0F2;
  font-size: 64px;
}

.actions {
  margin-block: 80px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.actions .block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

button {
  padding: 12px 32px;
  background-color: #2D2D34;
  color: #E3E0F2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: var(--custom-shadow);
}


.right-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.river, .hand, .best-combination {
  flex: 1;
}

.river, .hand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.best-combination {
  color: #E3E0F2;
}

p {
   font-size: 1.5rem;
   color: #D04255;
 }

.number-of-players {
display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.number-of-players .select-container{
  display: flex;
  justify-content: center;
  gap: 20px;
}

select {
  outline: none;
  text-align: center;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 12px 32px;

  background-color: #2D2D34;
  color: #E3E0F2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: var(--custom-shadow);
}
