.container {
  display: flex;
  min-height: 90vh;
  margin-block: 50px;
  text-align: center;
}

.left-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.actions {
  margin-block: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.right-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}



.river, .hand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.best-combination {
  color: #E3E0F2;
}

p {
   font-size: 1.5rem;
   color: #D04255;
 }
