.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  min-height: 90vh;
  margin-block: 50px;
}



.river, .hand {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.best-combination {
  color: #E3E0F2;
}

p {
   font-size: 1.5rem;
   color: #D04255;
 }
