<div class="container">

  <div class="left-container">
    <div class="upper-container">
      <header>
        <h1>Poker Stats</h1>
      </header>

      <div class="infos">

      </div>

      <div class="number-of-players">
        <h2>Number of players</h2>
        <div class="slider-container">
          <h3>{{numberOfPlayers}}</h3>
          <input type="range" min="1" max="8" [(ngModel)]="numberOfPlayers" (change)="onSliderChange($event)">
        </div>

      </div>

      <div class="actions">
        <div class="block">
          <button (click)="randomHandAndRiver()">Random Hand and River</button>
        </div>

        <div class="block">
          <button (click)="preflop()">Pre-Flop</button>
          <button (click)="flop()">Flop</button>
          <button (click)="turn()">Turn</button>
          <button (click)="riverCard()">River</button>
        </div>

      </div>
    </div>

    <div class="lower-container">
      <h1>{{handStrendth(hand, river, numberOfPlayers)}}</h1>
    </div>



  </div>



  <div class="right-container">
    <div class="hand">
      <div *ngFor="let card of hand">
        <app-card-on-screen [rank]="card.rank" [suit]="card.suit"></app-card-on-screen>
      </div>
    </div>


    <div class="river">
      <div *ngFor="let card of river">
        <app-card-on-screen [rank]="card.rank" [suit]="card.suit"></app-card-on-screen>
      </div>
      <ng-container *ngIf="river.length < 5">
        <div *ngFor="let emptyCard of emptyCards">
          <app-card-on-screen></app-card-on-screen>
        </div>

      </ng-container>

    </div>

    <div class="best-combination">
      <h1>Best combination :</h1>
      <p>{{rankString}}</p>
    </div>
  </div>
</div>




