.card {
  background-image: linear-gradient(to right, #E3E0F2, #F4F2FA);
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100px;
  border-radius: 10px;
}

.card div {
  padding: 10px;
}

.upper-container {
  display: flex;
  align-items: center;
  flex: 1;
}

.lower-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

