

.card {
  /*background-image: linear-gradient(to right, #E3E0F2, #F4F2FA);*/
  background-color: #2D2D34;
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100px;
  border-radius: 10px;
  box-shadow: var(--custom-shadow);
}

.card div {
  padding: 10px;
}

.upper-container {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 5px;
}

.lower-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 3;
}

.lower-container h1 {
  font-size: 40px;
}

.uninitialized-card {
  filter: brightness(0.5);
  opacity: 0.5;
}

