@font-face {
  font-family: 'SanDiego';
  src: url(./assets/SanDiego-Light.otf);

}

:root {
  /*background-image: radial-gradient(circle at center, rgba(27,24,113,1), rgba(7,7,9,1));*/
  background-color: #22232A;
  font-family: 'SanDiego', sans-serif;

  --custom-shadow:
    inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
      /* shadow ring 👇 */
    0 0 0 1px hsla(0, 0%, 0%, 0.05),
      /* multiple soft shadows 👇 */
    0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045),
    0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}




h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}
